.vh-60 {
    height: 60vh;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color: black;
}
tr {
    text-align: center;
    /* margin-left: 10px; */
}
.bg-header {
    background: #2A69AE;
}

.bg-result {
    background: black;
}

.output-text {
    color: rgb(3, 239, 3);
    font-size: x-large;
}
.Quiz {
    background-color: white;
}
.CLI {
    background-color: black;
}
.output-box {
	position: relative;
	padding-bottom: 3rem;
}
.input-box {
	position: absolute;
	bottom: 0;
}

#CLIOutputDiv
{
    overflow: scroll;
}

/* index */
.rem1p2 {
	font-size: 1.2rem;
}

.px5p0rem {
    padding: 0px 5rem;
}

/* quiz */
.rem1p5 {
    font-size: 1.5rem;
}

/* 提出画面・採点画面 */
.po-re {
    position: relative;
}

.po-ab {
    width: 500px;
    height: 500px;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* imgsize */
.img-size {
    width: 50%;
    height: auto;
}

/* 正解時のアニメーション */
/*紙吹雪のスタイル*/
.confetti span {
    position: absolute;
    top: -100%;/*アニメーション以外の紙吹雪を非表示*/
    left: 0;
}

/*アニメーションの記述*/
.confetti span:nth-child(2n + 1) {
    animation: confetti1 5s 0s linear infinite;
}

/*紙吹雪を回転させる記述*/
@keyframes confetti1 {
    0% {
    top: -10%;
    transform: translateX(0) rotateX(0) rotateY(0);
    }

    100% {
    top: 100%;
    transform: translateX(20px) rotateX(180deg) rotateY(360deg);
    }
}

/*紙吹雪の配置*/
.confetti span:nth-child(1) {
    left: 0%;
}

.confetti span:nth-child(2) {
    left: 10%;
}

.confetti span:nth-child(3) {
    left: 20%;
}

.confetti span:nth-child(4) {
    left: 30%;
}

.confetti span:nth-child(5) {
    left: 40%;
}

.confetti span:nth-child(6) {
    left: 50%;
}

.confetti span:nth-child(7) {
    left: 60%;
}

.confetti span:nth-child(8) {
    left: 70%;
}

.confetti span:nth-child(9) {
    left: 80%;
}

.confetti span:nth-child(10) {
    left: 90%;
}

.confetti span:nth-child(11) {
    left: 100%;
}

/*紙吹雪の大きさ*/
.confetti span:nth-child(3n + 1) {
    width: 3vw;
    height: 3vw;
}

.confetti span:nth-child(3n + 2) {
    width: 2vw;
    height: 2vw;
}

.confetti span:nth-child(3n + 3) {
    width: 1.5vw;
    height: 1.5w;
}

/*紙吹雪の色*/
.confetti span:nth-child(2n + 1) {
    background: red;
}

.confetti span:nth-child(2n + 2) {
    background: orange;
}

.confetti span:nth-child(2n + 3) {
    background: purple;
}

.confetti span:nth-child(2n + 4) {
    background: pink;
}

.confetti span:nth-child(2n + 5) {
    background: blue;
}

.confetti span:nth-child(2n + 6) {
    background: green;
}

.confetti span:nth-child(2n + 7) {
    background: yellow;
}

/*アニメーションの秒数*/
.confetti span:nth-child(2n + 1) {
    animation-duration: 4s;
}

.confetti span:nth-child(2n + 2) {
    animation-duration: 3s;
}

.confetti span:nth-child(2n + 3) {
    animation-duration: 4s;
}

.confetti span:nth-child(2n + 4) {
    animation-duration: 2s;
}

/*紙吹雪が降り始めるまでの時間*/
.confetti span:nth-child(2n + 1) {
    animation-delay: 1s;
}

.confetti span:nth-child(2n + 2) {
    animation-delay: 1s;
}

.confetti span:nth-child(2n + 3) {
    animation-delay: 1s;
}

.confetti span:nth-child(2n + 4) {
    animation-delay: 4s;
}

.confetti span:nth-child(2n + 5) {
    animation-delay: 3s;
}

.confetti span:nth-child(2n + 6) {
    animation-delay: 5s;
}

.confetti span:nth-child(2n + 7) {
    animation-delay: 6s;
}

.confetti span:nth-child(2n + 8) {
    animation-delay: 4s;
}

.confetti span:nth-child(2n + 9) {
    animation-delay: 5s;
}

.confetti span:nth-child(2n + 10) {
    animation-delay: 1s;
}

.confetti span:nth-child(2n + 11) {
    animation-delay: 5s;
}


/* 不正解時のアニメーション */
.rains span{
    position: absolute;
    width:1px;
    height:180px;
    background: blue;
    opacity:0.4;
}



/*雨の初期位置とアニメーション指定、leftはx座標での基準位置、topは開始位置、アニメーション時間は揺らぎ*/
.rains span:nth-child(1){left:5%; top:-190px; animation: rain-anim 10s infinite;}
.rains span:nth-child(2){left:10%; top:-180px; animation: rain-anim 11s infinite;}
.rains span:nth-child(3){left:15%; top:-170px; animation: rain-anim 8s infinite;}
.rains span:nth-child(4){left:20%; top:-160px; animation: rain-anim 12s infinite;}
.rains span:nth-child(5){left:25%; top:-150px; animation: rain-anim 10s infinite;}

.rains span:nth-child(6){left:30%; top:-150px; animation: rain-anim 11s infinite;}
.rains span:nth-child(7){left:35%; top:-160px; animation: rain-anim 13s infinite;}
.rains span:nth-child(8){left:40%; top:-170px; animation: rain-anim 7s infinite;}
.rains span:nth-child(9){left:45%; top:-180px; animation: rain-anim 9s infinite;}
.rains span:nth-child(10){left:50%; top:-190px; animation: rain-anim 11s infinite;}

.rains span:nth-child(11){left:55%; top:-190px; animation: rain-anim 10s infinite;}
.rains span:nth-child(12){left:60%; top:-180px; animation: rain-anim 6s infinite;}
.rains span:nth-child(13){left:65%; top:-170px; animation: rain-anim 14s infinite;}
.rains span:nth-child(14){left:70%; top:-160px; animation: rain-anim 12s infinite;}
.rains span:nth-child(15){left:75%; top:-150px; animation: rain-anim 10s infinite;}

.rains span:nth-child(16){left:80%; top:-150px; animation: rain-anim 14s infinite;}
.rains span:nth-child(17){left:85%; top:-160px; animation: rain-anim 8s infinite;}
.rains span:nth-child(18){left:90%; top:-170px; animation: rain-anim 9s infinite;}
.rains span:nth-child(19){left:95%; top:-180px; animation: rain-anim 11s infinite;}
.rains span:nth-child(20){left:100%; top:-190px; animation: rain-anim9 13s infinite;}

/*アニメーションキーフレーム
一度落下したら次はキーフレーム1%の間に高さを戻して左右にずらして降らす*/
@keyframes rain-anim {
    
    0% { transform: translate(0px,0px);}
    4% { transform: translate(0px,600px);}

    5% { transform: translate(200px,0px);}
    9% { transform: translate(200px,600px);}
    
    10% { transform: translate(-100px,0px);}
    14% { transform: translate(-100px,600px);}
    
    15% { transform: translate(-200px,0px);}
    19% { transform: translate(-200px,600px);}
    
    20% { transform: translate(100px,0px);}
    24% { transform: translate(100px,600px);}
    
    25% { transform: translate(-150px,0px);}
    29% { transform: translate(-150px,600px);}
    
    30% { transform: translate(-80px,0px);}
    34% { transform: translate(-80px,600px);}
    
    35% { transform: translate(150px,0px);}
    39% { transform: translate(150px,600px);}
    
    40% { transform: translate(-60px,0px);}
    44% { transform: translate(-60px,600px);}
    
    45% { transform: translate(90px,0px);}
    49% { transform: translate(90px,600px);}
    
    50% { transform: translate(60px,0px);}
    54% { transform: translate(60px,600px);}
    
    55% { transform: translate(-60px,0px);}
    59% { transform: translate(-60px,600px);}
    
    60% { transform: translate(-40px,0px);}
    64% { transform: translate(-40px,600px);}
    
    65% { transform: translate(40px,0px);}
    69% { transform: translate(40px,600px);}
    
    70% { transform: translate(-20px,0px);}
    74% { transform: translate(-20px,600px);}

    75% { transform: translate(-110px,0px);}
    79% { transform: translate(-110px,600px);}
    
    80% { transform: translate(20px,0px);}
    84% { transform: translate(20px,600px);}
    
    85% { transform: translate(-20px,0px);}
    89% { transform: translate(-20px,600px);}
    
    90% { transform: translate(50px,0px);}
    99% { transform: translate(50px,600px);}

    100% { transform: translate(0px,0px);}
    
}