.vh-60 {
    height: 60vh;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color:white;
}

.bg-header {
    background: #2A69AE;
}

.bg-result {
    background: black;
}

.output-text {
    color: rgb(3, 239, 3);
    font-size: x-large;
}

.CLI {
    background-color: black;
}

#CLIOutputDiv
{
    overflow: scroll;
}